<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TripsDAO</servlet-name>
        <servlet-class>Model.Dao.TripsDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Trip</servlet-name>
        <servlet-class>Model.Entity.Trip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllTripsServlet</servlet-name>
        <servlet-class>Controller.getAllTripsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDAO</servlet-name>
        <servlet-class>Model.Dao.AdminDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>applyForTrips</servlet-name>
        <servlet-class>Controller.applyForTrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTrip</servlet-name>
        <servlet-class>Controller.deleteTrip</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TripsDAO</servlet-name>
        <url-pattern>/TripsDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trip</servlet-name>
        <url-pattern>/Trip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllTripsServlet</servlet-name>
        <url-pattern>/getAllTripsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDAO</servlet-name>
        <url-pattern>/AdminDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>applyForTrips</servlet-name>
        <url-pattern>/applyForTrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTrip</servlet-name>
        <url-pattern>/deleteTrip</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
