<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TripsDAO</servlet-name>
        <servlet-class>Model.Dao.TripsDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Trip</servlet-name>
        <servlet-class>Model.Entity.Trip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllTripsServlet</servlet-name>
        <servlet-class>Controller.getAllTripsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>applyForTrips</servlet-name>
        <servlet-class>Controller.applyForTrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTrip</servlet-name>
        <servlet-class>Controller.deleteTrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBootstrapServlet</servlet-name>
        <servlet-class>Controller.AdminBootstrapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllTripsAfterFilterServlet</servlet-name>
        <servlet-class>Controller.getAllTripsAfterFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBootstrapFileDownloadServlet</servlet-name>
        <servlet-class>Controller.AdminBootstrapFileDownloadForUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBootstrapFileDownloadForTripServlet</servlet-name>
        <servlet-class>Controller.AdminBootstrapFileDownloadForTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBootstrapFileDownloadForTripStudentServlet</servlet-name>
        <servlet-class>Controller.AdminBootstrapFileDownloadForTripStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewInternshipStudent</servlet-name>
        <servlet-class>Controller.addNewInternshipStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TripsDAO</servlet-name>
        <url-pattern>/TripsDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trip</servlet-name>
        <url-pattern>/Trip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllTripsServlet</servlet-name>
        <url-pattern>/getAllTripsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>applyForTrips</servlet-name>
        <url-pattern>/applyForTrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTrip</servlet-name>
        <url-pattern>/deleteTrip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBootstrapServlet</servlet-name>
        <url-pattern>/AdminBootstrapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllTripsAfterFilterServlet</servlet-name>
        <url-pattern>/getAllTripsAfterFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBootstrapFileDownloadServlet</servlet-name>
        <url-pattern>/AdminBootstrapFileDownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBootstrapFileDownloadForTripServlet</servlet-name>
        <url-pattern>/AdminBootstrapFileDownloadForTripServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBootstrapFileDownloadForTripStudentServlet</servlet-name>
        <url-pattern>/AdminBootstrapFileDownloadForTripStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewInternshipStudent</servlet-name>
        <url-pattern>/addNewInternshipStudent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
