<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TripsDAO</servlet-name>
        <servlet-class>Model.Dao.TripsDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Trip</servlet-name>
        <servlet-class>Model.Entity.Trip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllTripsServlet</servlet-name>
        <servlet-class>Controller.getAllTripsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>applyForTrips</servlet-name>
        <servlet-class>Controller.applyForTrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTrip</servlet-name>
        <servlet-class>Controller.deleteTrip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBootstrapServlet</servlet-name>
        <servlet-class>Controller.AdminBootstrapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllTripsAfterFilterServlet</servlet-name>
        <servlet-class>Controller.getAllTripsAfterFilterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewInternshipStudent</servlet-name>
        <servlet-class>Controller.addNewInternshipStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserServlet</servlet-name>
        <servlet-class>Controller.updateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllTripsFilteredServlet</servlet-name>
        <servlet-class>Controller.getAllTripsFilteredServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storedAllFilteredVariables</servlet-name>
        <servlet-class>Controller.storedAllFilteredVariables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadItinerary</servlet-name>
        <servlet-class>Controller.downloadItinerary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllAdminsServlet</servlet-name>
        <servlet-class>Controller.getAllAdminsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAdmin</servlet-name>
        <servlet-class>Controller.deleteAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAdmin</servlet-name>
        <servlet-class>Controller.addAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>Controller.resetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountConfirmation</servlet-name>
        <servlet-class>Controller.accountConfirmationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminExcelFileDownload</servlet-name>
        <servlet-class>Controller.AdminExcelFileDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCountryInternship</servlet-name>
        <servlet-class>Controller.deleteCountryInternship</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllCountryInternship</servlet-name>
        <servlet-class>Controller.getAllCountryInternship</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TripsDAO</servlet-name>
        <url-pattern>/TripsDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trip</servlet-name>
        <url-pattern>/Trip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllTripsServlet</servlet-name>
        <url-pattern>/getAllTripsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>applyForTrips</servlet-name>
        <url-pattern>/applyForTrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTrip</servlet-name>
        <url-pattern>/deleteTrip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBootstrapServlet</servlet-name>
        <url-pattern>/AdminBootstrapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllTripsAfterFilterServlet</servlet-name>
        <url-pattern>/getAllTripsAfterFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewInternshipStudent</servlet-name>
        <url-pattern>/addNewInternshipStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserServlet</servlet-name>
        <url-pattern>/updateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllTripsFilteredServlet</servlet-name>
        <url-pattern>/getAllTripsFilteredServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storedAllFilteredVariables</servlet-name>
        <url-pattern>/storedAllFilteredVariables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadItinerary</servlet-name>
        <url-pattern>/downloadItinerary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllAdminsServlet</servlet-name>
        <url-pattern>/getAllAdminsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAdmin</servlet-name>
        <url-pattern>/deleteAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAdmin</servlet-name>
        <url-pattern>/addAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountConfirmationServlet</servlet-name>
        <url-pattern>/accountConfirmationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminExcelFileDownload</servlet-name>
        <url-pattern>/AdminExcelFileDownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCountryInternship</servlet-name>
        <url-pattern>/deleteCountryInternship</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllCountryInternship</servlet-name>
        <url-pattern>/getAllCountryInternship</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
